<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./static/settings.css"/>
</head>
<body>
    <div id="nav_head">
        <img src="./static/light_logo.png" alt="logo" id="img_element"/>
        <div id="centered_tab">
            <div id="tab">
                <p class="material-icons center" id="icon_settings">settings_applications</p>
                <p class="center" id="setting_text">SETTINGS</p>
                <img class="center" src="./static/dark_logo.png" id="tab_logo_size"/>
            </div>
        </div>
    </div>
    <div id="center_form">
        <div id="img_container">
            <img src="./static/management.png" alt="default" id="default_img"/>
        </div>
            <form method="POST" id="form_head">
                <div id="form_container">
                    <input type="text" class="form_input" placeholder="username"/>
                    <input type="email" class="form_input" placeholder="email"/>
                    <input type="password" class="form_input" placeholder="password"/>
                    <input type="password" class="form_input" placeholder="confirm password"/>
                </div>
            </form>
    </div>
</body>
</html>